// @import "~bootstrap/dist/css/bootstrap.css";
@import "/bootstrap/functions";
@import "/bootstrap/variables";
@import "/bootstrap/mixins";
@import "/bootstrap/card";

@import '/bootstrap/bootstrap.scss';
// @import '~bootstrap/scss/bootstrap.scss';
@import "~bootstrap-vue/dist/bootstrap-vue.css";

html, body {
  max-height: 100vh;
  overflow-y: hidden;
  background: linear-gradient(90deg,#0c2646,#204065 60%,#2a5788);
}

::-webkit-scrollbar {
  width: 2px;
  height: 2px;
}
::-webkit-scrollbar-button {
  width: 0px;
  height: 0px;
}
::-webkit-scrollbar-thumb {
  background: #313131;
  border: 0px none #ffffff;
  border-radius: 50px;
}
::-webkit-scrollbar-thumb:hover {
  background: #ffffff;
}
::-webkit-scrollbar-thumb:active {
  background: #000000;
}
::-webkit-scrollbar-track {
  background: rgba(#212121, .5);
  border: 0px none #ffffff;
  border-radius: 50px;
}
::-webkit-scrollbar-track:hover {
  background: #666666;
}
::-webkit-scrollbar-track:active {
  background: #333333;
}
::-webkit-scrollbar-corner {
  background: transparent;
}



